
body {
  height: 100vh;
  overflow: hidden;
}

.dashboard-container {
  
  padding: 2% 3%;
 
}
.cards-container {
  grid-template-columns: 23.3% 23.3% 23.3% 23.5%;
  display: grid;
  grid-gap: 2%;

}

.dashboard-container .table-container {
  width: 100%;
}
 
.heading{
  margin-top: 2%;
  text-align: left;
  margin-bottom: 1%;
  font-size: x-large;
  font-weight: bold;
  color: #3a3043;

 }
 @media (max-width: 768px) {
  body {
    height: auto;
    overflow-y: auto;
  }

  .dashboard-container {
    padding: 4% 2% 3% 22%;
  }

  .cards-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
  }

  .dashboard-container .table-container {
    overflow-x: auto;
    width: 100%;
    display: none;
  }


  .heading , .link{
   display: none;
  }
}
