.button {
  background-color: white;
  color: rgb(44, 43, 43);
  border: none;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  /* margin: 0 10px; */
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.button:hover {
  background-color: #c4b7d0;
  color: rgb(47, 47, 47);
}

.button.active {
  background-color: white;
  color: #3a3043;
  opacity: 1;
}

.button.inactive {
  background-color: rgba(255, 255, 255, 0.5);
  color: #3a3043;
  opacity: 0.6;
}

.button.form-btn{
  background-color: white;
  color: rgb(44, 43, 43);
  opacity: 1;
}

.button.page-btn {
  background-color: #E2D6DF;
  color: #3a3043;
  opacity: 1;
}


.button.page-btn:hover {
  background-color: #3a3043; 
  color: white;
}


.button.table-btn {
  background-color: #796987; 
  color: white; 
  border: none;
  opacity: 1;
  padding: 3px 8px; 
  text-align: center;
  font-size: 13px; 
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: inline-block; 
  min-width: 60px; 
  margin: 0 3px; 
}


.button.table-btn:hover {
  background-color: #c4b7d0;
  color: #3a3043; 
}


.button.table-component td div {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;
}


button.search-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #6a4c93;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button.search-button:hover {
  background-color: #543a74;
}

button.icon-btn {
 background: transparent;
  padding: 0;
  opacity: 1;
  background: none;
  border: none;

}

button.icon-btn:hover {
  background-color: #796987;
}


