.button {
  background-color: white;
  color: rgb(44, 43, 43);
  border: none;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.button:hover {
  background-color: #c4b7d0;
  color: rgb(47, 47, 47);
}

.button.active {
  background-color: white;
  color: #3a3043;
  opacity: 1;
}

.button.inactive {
  background-color: rgba(255, 255, 255, 0.5);
  color: #3a3043;
  opacity: 0.6;
}

.button.form-btn{
  background-color: white;
  color: rgb(44, 43, 43);
  opacity: 1;
}

.button.page-btn {
  background-color: #E2D6DF;
  color: #3a3043;
  opacity: 1;
}


.button.page-btn:hover {
  background-color: #3a3043; 
  color: white;
}


.button.table-btn {
  background-color: #796987; 
  color: white; 
  border: none;
  width: 10%;
  opacity: 1;
  padding: 3px 8px; 
  text-align: center;
  font-size: 20px; 
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: inline-block; 
  min-width: 40px; 
  margin: 0 3px; 
}



.button.table-btn:hover {
  background-color: #c4b7d0;
  color: #3a3043; 
}


.button.table-btn:disabled {
  background-color: #969595; 
  color: #4f4e4e;
  cursor: not-allowed;
  opacity: 0.6; 
}




.button.table-component td div {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;
}


.button.modal-btn {
  background-color: #796987; 
  color: white; 
  border: none;
  opacity: 1;
  padding: 7px 12px; 
  text-align: center;
  font-size: 13px; 
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: inline-block; 
  min-width: 60px; 
  margin: 0 3px; 
  border-radius: 5px;
  
}



.button.modal-btn:hover {
  background-color: #c4b7d0;
  color: #3a3043; 
}

.button.modal-btn:disabled {
  background-color: #cccccc; 
  color: #7a7a7a;
  cursor: not-allowed;
  opacity: 0.6; 
}


@media (max-width: 768px) {
  .button.table-btn {
    font-size: 11px;
    padding: 5px 6px; 
    min-width: 50px;
    margin: 2px; 
  }

  .button.table-btn:hover {
    background-color: #b0a1bd; 
    color: #3a3043;
  }

  .button.table-component td div {
    gap: 4px; 
  }
}


