

.card-container {
    align-items: center;
    padding: 5%;
    /* margin: 10px 0;  */
    /* width: 200px; */
  width: 90%;

    /* gap: 2%; */
    height: 180px;
    border-radius: 8px;
    background-color: #E2D6DF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #D1C4D6;
}

  .card-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .card-h {
    margin: 10px 0;
    font-size: 20px;
    color:#3a3043;
  }
  
  .card-p {
    font-size: 18px;
    color: #3a3043;
  }
  