

.header {
  
  height: 15vh; 
  background-color: #3a3043;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:2% ; 
  
  box-shadow: 0px 0.5% 1% rgba(0, 0, 0, 0.2); 
  z-index: 1000;
}

.header h1 {
  margin: 0;
  margin-left: 1%; 
  margin-right: 2%;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.header-btn {
  padding-right: 3.5%; 
}


@media (max-width: 768px) {
  .header h1 {
   
    font-size: 3.5vw;

  }
}
