 .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2%;
    background-color: #c4b7d0;
    opacity: 0.9; 
    background-image: url('https://i.pinimg.com/originals/f6/9c/92/f69c927641b0c3aee806a838672c364b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%; 
}

.welcome-heading {
    text-align: center;
    color: #3a3043;
    font-weight: bold;
    margin-top: 2%; 
}


.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4b7d0;
    width: 85%;
    margin-left: 10%;
}


.signin-content {
    display: flex;
    width: 65%; 
    height: 60vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #3a3043;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 18%; 
    justify-content: center;
}

.signin-form {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%; 
    background-color: #3a3043;
}

.toggle-button {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5%; 
    gap: 5%; 
}

.signin-input-field {
    margin-right: 2%;
    margin-bottom: 5%; 
}

.signin-input-field input {
    width: 96%;
    padding: 3%; 
    margin-bottom: 5%; 
    row-gap: 5%; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.error-msg {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 2vh;
  color: hsl(0, 100%, 55%);
  margin-top: 0.2%;
  text-align: left;
}


p {
    color: white;
    text-align: center;
    margin-bottom: 5%;
}

input::placeholder {
    font-size: medium;
    color: #aaa; 
}


.signin-button {
    display: flex;
    justify-content: center; 
    width: 100%;
}


.signin-image {
    flex: 1; 
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-flat-design-book-club-illustration_23-2149334858.jpg?t=st=1724965307~exp=1724968907~hmac=d6a2ae991334c5a5444504b99ef6dd809ce142f19f60d7f0006493dcb04aa49b&w=740');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .signin-container {
        width: 90%;
        margin-left: 5%;
        justify-content: center;
    }

    .signin-content {
        margin-top: 5%;
        width: 80%;
        height: auto;
        margin-left: 0;
        justify-content: center;
        margin-left: 10%;
        
    }

    /* .signin-form {
        padding: 5%;
        margin-right: 10%;
    } */

    .signin-image {
        display: none;
    }

    .home-header {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .welcome-heading {
        margin-top: 20%;
        font-size: 1.5rem;
    }

    /* .signin-input-field {
        padding-right: 4%;
    
    } */

    .signin-input-field input {
        font-size: 0.875rem;
    }

    .toggle-button {
        margin-bottom: 2%;
    }

    p {
        margin-bottom: 3%;
    }
    .error-msg{
        font-size: 1.7vh;
    }
}
