.navbar-container {
  height: 104vh;
  background-color: #3a3043;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  width: 100%;
  margin-top: 2rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.navbar li {
  width: 100%;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;

 
}

.navbar a p {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;

 
}

.navbar a:hover {
  text-decoration: underline;
  color: #fff;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
}

.active-link {
  text-decoration: underline;
  color: #ffeb3b;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    margin-top: 30%;

  }
  .navbar a {
    font-size: 1.8vh;
    padding: 0.2rem;
    margin-bottom: 50px;
  }

  .navbar a:hover {
    text-decoration: underline;
    color: #fff;
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
  }
  
  .active-link {
    text-decoration: underline;
    color: #ffeb3b;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
  }  
}