.table-container {
  width: 100%;
}

.pages-container {
  padding: 3%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%; 
}

.controls-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2%;
}

input[type="text"] {
  width: 100%;
  padding: 2%; 
  border: none; 
  border-radius: 1%; 
  box-sizing: border-box;
  margin-bottom: 2%; 
}


.no-data-message {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .table-container {
width: 100%;
  }

  .pages-container {
    padding: 4%; 
  }
  
  .controls-container {
    padding-bottom: 5%;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 2%; 
    border: none; 
    border-radius: 1%; 
    box-sizing: border-box;
    margin-bottom: 2%; 
  }
  
  
  .no-data-message {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
  }
  
}