.button {
  background-color: white;          
  color: rgb(44, 43, 43); 
  border: none;           
  padding: 12px 24px; /* Adjust padding for larger buttons */
  text-align: center;       
  font-size: 16px;         
  margin: 0 10px; /* Add margin for spacing between buttons */
  cursor: pointer;         
  border-radius: 20px;  
  font-weight: bold; /* Corrected font style to font-weight */
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.button:hover {
  background-color: #c4b7d0;
  color: rgb(47, 47, 47);
}

