.logo-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-top: 10px;
}

  
  .logo-container img {
    width: 75px;
    height: auto;
    margin-right: 10px;
  }
  
  /* .logo-container h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    font-family: 'Arial', sans-serif;
  } */